Source: awesomewm-desktop
Section: misc
Priority: optional
Maintainer: plaintext <plaintext@subplanar.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/jhare/awesomewm-desktop
Vcs-Git: https://github.com/jhare/awesomewm-desktop.git
Package: awesomewm-desktop
Architecture: any
Depends: awesomewm (>= 4.3), conky-all (>= 1.10), ${shlibs:Depends}, ${misc:Depends}
Description: Desktop environment for AwesomeWM
 AwesomeWM packaged with a desktop provided by GNOME-flashback. Provides additional setup and theme integration.
